//breakpoints
$tablets: 768px;
$phones: 480px;
$phones-small: 320px;

//media
@import "_misc/media.scss";

//setups

@import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/layout";

//blocks
//section primary
@import "blocks/primary.scss";
@import "blocks/header.scss";
@import "blocks/logo.scss";
@import "blocks/nav.scss";
@import "blocks/social.scss";
@import "blocks/language.scss";
@import "blocks/info.scss";

//section about
@import "blocks/about.scss";
@import "blocks/quality.scss";
