.about{
  min-height: 1580px;
  position: relative;
  &::after{
    content: "";
    background-image: linear-gradient(to top, #142831, #14313e 98%);
    height: 789px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

.about__container{
  height: 987px;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background: url("../images/bg_pattern.png") top center;
  background-repeat: no-repeat;
  background-color: #fff;
  &::before{
    content: "";
    width: 6px;
    height: 125px;
    background-color: #00bfd2;
    position: absolute;
    left: 0;
    top: 20%;
  }
  &::after{
    content: "";
    width: 6px;
    height: 125px;
    background-color: #00bfd2;
    position: absolute;
    right: 0;
    top: 20%;
  }
}

.about__title{
  font-size: 60px;
  @include myriad(bold);
  text-transform: uppercase;
  color: #045c8d;
  text-align: center;
  margin-top: 175px;
}
.about__text{
  font-size: 24px;
  @include myriad(normal);
  color: #010101;
  text-align: center;
  width: 682px;
}