.arrow {
  position: relative;
  cursor: pointer;
  width: 7px;
  height: 7px;
  margin-right: 31px;
}
.arrow__left {
  position: absolute;
  background-color: transparent;
  top: 0px;
  left: 13px;
  width: 7px;
  height: 7px;
  transform: rotate(-50deg);
  border-radius: 1px;
}
.arrow__left:after {
  content: "";
  background-color: #e8e8e8;
  width: 2px;
  height: 7px;
  display: block;
  border-radius: 6px 10px 10px 6px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}
.arrow__left:after {
  content: "";
  background-color: #e8e8e8;
  width: 2px;
  height: 7px;
  display: block;
  border-radius: 6px 10px 10px 6px;
  z-index: -1;
}
.arrow__right {
  position: absolute;
  background-color: transparent;
  top: 0px;
  left: 14px;
  width: 7px;
  height: 7px;
  transform: rotate(230deg);
  border-radius: 1px;
}
.arrow__right:after {
  content: "";
  background-color: #e8e8e8;
  width: 2px;
  height: 7px;
  display: block;
  border-radius: 10px 6px 6px 10px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}