.footer{
  height: rem(543px);
  width: 100%;
  background-image: linear-gradient(to top, #142831, #14313e 98%);
}

.footer__contacts{
  margin-top: rem(119px);
  @include phones{
    margin-top: rem(55px);
  }
}
.footer__communication-list{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer__communication-link{
  width: rem(41px);
  height: rem(41px);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
.footer__communication-img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.footer__communication-text{
  margin-top: rem(20px);
  font-size: rem(18px);
  @include myriad(600);
  color: #01b7ce;
}

.footer__info{
  margin-top: rem(103px);
  display: flex;
  justify-content: space-between;
  text-align: left;
  @include phones{
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
}
.footer__logo{
  width: rem(174px);
  height: rem(20px);
}
.footer__logo-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer__logo-text{
  margin-top: rem(31px);
  font-size: rem(14px);
  @include myriad(600);
  line-height: 2.14;
  color: #456073;
  text-align: left;
  @include phones{
    margin-top: 0;
    text-align: center;
  }
}
.footer__adress{
  @include phones{
    margin-top: rem(70px);
  }
}
.footer__adress-title{
  font-size: rem(20px);
  @include myriad(600);
  color:#fff;
  line-height: 2.1;
  letter-spacing: 2px;
}
.footer__adress-text{
  margin-top: rem(31px);
  font-size: rem(14px);
  @include myriad(600);
  line-height: 2.14;
  color: #456073;
  text-align: left;
  @include phones{
    margin-top: 0;
    text-align: center;
  }
}
.footer__social{
  display: flex;
  align-items: flex-end;
  @include phones{
    align-items: center;
    margin-top: rem(50px);
  }
}
.footer__social-list{
  display: flex;
  align-items: flex-end;
}
.footer__social-item{
  &:first-child{
    margin-left: 0;
  }
  margin-left: rem(17px);
}