.header{
  margin-top: rem(56px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  @include tablets{
    justify-content: space-between;
  }
  @include phones{
    margin-top: rem(24px);
  }
  @include phones-small{
    margin-right: rem(16px);
  }
}