.info__button{
  @include myriad();
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color:#fff;
  width: 300px;
  height: 55px;
  background-color: #fa272a;
  border: none;
  margin-top: 117px;
}