.language{
  margin-left: rem(60px);
  width: rem(32px);
  height: rem(21px);
  display: flex;
  flex-shrink: 0;
  @include laptops{
    margin-left: rem(12px);
  }
}
.language__pic{
  width: 100%;
  height: 100%;
}