.language{
  margin-left: rem(60px);
  display: flex;
  flex-shrink: 0;
  background: none;
  border: transparent;
  padding: 0;
  cursor: pointer;
  align-items: center;
  @include laptops{
    margin-left: rem(12px);
  }
}
.language__pic{
  width: 32px;
  height: 21px;
}
.language__pic-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}