.menu{
  margin-left: rem(121px);
  display: flex;
  align-items: center;
  @include laptops{
    margin-left: rem(25px);
  }
  @include tablets{
    display: none;
  }
}
.menu__list{
  display: flex;

}
.menu__item{
  &:first-child{
    margin-left: 0;
  }
  margin-left: rem(34px);
}
.menu__link{
  text-decoration: none;
  color:#fff;
  @include myriad(medium);
}