.quality__list{
  margin-top: 97px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}
.quality__item{
  width: 300px;
  padding-top: 50px;
}

.quality__desc{
  font-size: 20px;
  @include myriad(bold);
  color: #142831;
  text-transform: uppercase;
  margin-top: 23px;
}
.quality__desc-text{
  font-size: 18px;
  font-weight: normal;
  text-transform: none;
}