.quality__list{
  margin-top: rem(45px);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.quality__item{
  width: rem(300px);
  padding-top: rem(50px);
  @include tablets{
    padding-top: rem(18px);
  }
  @include phones{
    width: rem(236px);
  }
}

.quality__desc{
  font-size: rem(20px);
  @include myriad(bold);
  color: #142831;
  text-transform: uppercase;
  margin-top: rem(23px);
  @include phones{
    margin-top: rem(7px);
    font-size: rem(18px);
  }
}
.quality__desc-text{
  font-size: rem(18px);
  font-weight: normal;
  text-transform: none;
}