.header__social{
  margin-left: rem(38px);
  @include laptops{
    margin-left: rem(22px);
  }
  @include tablets{ 
    display: none;
  }
}

.header__social-list{
  display: flex;
  align-items: center;
}

.header__social-item{
  margin-left: rem(20px);
  display: flex;
  flex-shrink: 0;
  
  &:first-child{
    margin-left: 0;
  }
}
.header__social-link{
  width: rem(20px);
  height: rem(20px);
  &--vk{
    width: rem(26px);
  }
}
.header__social-img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}