.statistic{
  background-image:  linear-gradient(to bottom, rgba(26, 159, 214, 1), rgba(20, 49, 62, 1) 60%);
  min-height: rem(790px);
  width: 100%;
  position: static;
}
.statistic__container{
  height: rem(790px);
  @include phones{
    height: rem(870px);
  }
  @include phones-small{
    height: rem(928px);
  }
}
.statistic__chips{
  position: absolute;
  z-index: 15;
  @include laptops{
    display: none;
  }
}
.statistic__chips-img{
  position: absolute;
  &-one{
    top: rem(-40px);
    right: rem(146px);
    width: rem(65px);
    height: rem(147px);
  }
  &-two{
    top: rem(262px);
    right: rem(139px);
    width: rem(113px);
    height: rem(71px);
  }
  &-three{
    top: rem(513px);
    right: rem(264px);
    width: rem(96px);
    height: rem(105px);
  }
  &-four{
    top: rem(495px);
    right: rem(30px);
    width: rem(170px);
    height: rem(141px);
  }
  &-five{
    top: rem(648px);
    left: rem(13px);
    width: rem(134px);
    height: rem(109px);
  }
  &-six{
    top: rem(766px);
    right: rem(210px);
    width: rem(151px);
    height: rem(117px);
  }
  &-seven{
    top: rem(115px);
    left: rem(288px);
    width: rem(77px);
    height: rem(116px);
  }
  &-eight{
    top: rem(92px);
    left: rem(1022px);
    width: rem(154px);
    height: rem(147px);
  }
  &-nine{
    top: rem(73px);
    left: rem(1355px);
    width: rem(102px);
    height: rem(116px);
  }
  &-ten{
    top: rem(396px);
    left: rem(1336px);
    width: rem(70px);
    height: rem(114px);
  }
  &-eleven{
    top: rem(512px);
    left: rem(1097px);
    width: rem(127px);
    height: rem(173px);
  }
  &-twelve{
    top: rem(678px);
    left: rem(897px);
    width: rem(90px);
    height: rem(105px);
  }
  &-thirteen{
    top: rem(754px);
    left: rem(1233px);
    width: rem(131px);
    height: rem(88px);
  }
}

.statistic__list{
  z-index: 15;
  margin: 0 auto;
  display: flex;
  text-align: center;
  margin-top: rem(250px);
  @include tablets{
    margin-top: rem(346px);
  }
  @include phones{
    margin-top: rem(298px);
    flex-direction: column;
  }
  @include phones-small{
    margin-top: rem(358px);
  }
}
.statistic__item{
  width: rem(360px);
  height: rem(492px);
  &--border{
    border: solid 4px #00bfd2;
  }
  @include laptops{
    width: rem(312px);
  }
  @include tablets{
    height: rem(364px);
    width: rem(248px);
  }
  @include phones{
    height: rem(188px);
    width: rem(280px);
  }
}
.statistic__value{
  font-size: rem(68px);
  @include myriad(bold);
  color: #00def9;
  padding-top: rem(95px);
  @include tablets{
    padding-top: rem(49px);
    font-size: rem(52px);
  }
  @include phones{
    padding-top: rem(17px);
    font-size: rem(40px);
  }
  &--active{
    padding-top: rem(42px);
    @include tablets{
      padding-top: 0;
    }
  }
}
.statistic__text{
  @include myriad(bold);
  font-size: rem(20px);
  color:#fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: rem(20px);
  @include tablets{
    font-size: rem(18px);
  }
  @include phones{
    font-size: rem(14px); 
    padding-top: 0;
  }
}
.statistic__button{
  margin-top: rem(130px);
  @include tablets{
    margin-top: rem(66px);
  }
  @include phones{
    margin-top: rem(2px);
  }
}