html{
  font-size: 16px;
  

  @include tablets{
    font-size: 15px;
  }

  @include phones{
    font-size: 14px;
  }

  @include phones-small{
    font-size: 12px;
  }
  
}
html,
body{
  height: 100%;
}

body{
  font-size:16px;
  line-height: 1.42;
  position: relative;
}

h1,h2,h3,h4,h5,h6{
  margin:0;
  font-weight: normal;
}

ul{
  margin: 0;
  padding: 0;

  & > li{
    list-style: none;
  }
}

p{
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}

.wrapper{
  position: relative;
  width: 100%;
  //max-width:960px;
  height: 100%;
  overflow-x: hidden;
}

.section{
  height: 100%;
  min-height: 650px;
  overflow: hidden; 
}

.container{
  max-width: 1330px;
  width:95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  @include laptops{
    max-width: 957px;
  }
}

.content{
  max-width: 1140px;
  width:95%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; 
  @include laptops{
    max-width: 913px;
  } 
}

.button{
  @include myriad();
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color:#fff;
  background-color: #fa272a;
  border: none;
  padding: rem(18px) rem(75px);
  @include tablets{
    padding: rem(16px) rem(35px);
    font-size: rem(20px);
  }
  @include phones{
    font-size: rem(18px);
  }
}
.section-title{
  @include myriad(bold);
  text-transform: uppercase;
  color: #045c8d;
  text-align: center;
}