html{
  font-size: 16px;
  

  @include tablets{
    font-size: 15px;
  }

  @include phones{
    font-size: 14px;
  }

  @include phones-small{
    font-size: 12px;
  }
  
}
html,
body{
  height: 100%;
}

body{
  font-size:16px;
  line-height: 1.42;
  position: relative;
}

h1,h2,h3,h4,h5,h6{
  margin:0;
  font-weight: normal;
}

ul{
  margin: 0;
  padding: 0;

  & > li{
    list-style: none;
  }
}

p{
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}

.wrapper{
  position: relative;
  width: 100%;
  //max-width:960px;
  height: 100%;
}

.content{
  height: 100%;
  min-height: 650px;
  transition: transform .7s,-webkit-transform .7s;
  will-change: transform;
  -webkit-transition: -webkit-transform .7s;
  transition: -webkit-transform .7s;
  -o-transition: transform .7s;
  
  @include tablets{
    min-height: initial;
  }

}

.section{
  height: 100%;
  min-height: 650px;
  overflow: hidden; 
  @include tablets{
    min-height: initial;
  }
}

.container{
  max-width: 1140px;
  width:95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}