@function rem($px) {
  @return $px/16px+0rem;
}

@mixin myriad($style:light) {
  font-family: 'myriad-pro', Helvetica, sans-serif;

  @if $style==light {
    font-weight: 300;
  }

  @if $style==medium {
    font-weight: normal;
  }

  @if $style==bold {
    font-weight: bold;
  }
}

